* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  width: 100%;
}

#logo {
  width: 30%;
  height: 30%;
  margin: 0px;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

a {
  margin: 2px;
}

h1 {
  color: gold;
  text-align: center;
  margin: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  padding: 5px;
  height: auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  background-color: purple;
  text-align: center;
  border: 3px gold solid;
  margin: 10px;
  width: auto;
  height: auto;
}

article.player {
  display: flex;
  flex-direction: column;
  background-color: green;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: auto;
  padding: 3px;
  margin: 3px 0px 0px 3px; 
}

img {
  width: 35%;
  height: auto;
  margin: 10px; 
}

.player-id {
  list-style-type: none;
  color:chartreuse
}

button {
  background-color: gray;
}
